table {
    border-collapse: collapse;
}

.threeboder {
    border: 1px solid #5B96D0;
}

.trow {
    border-right: 1px solid #5B96D0;
    border-bottom: 1px solid #5A96D6;
}

.theader {
    background-color: #A5D3FF;
    font-size: 14px;
    border-right: 1px solid #5B96D0;
    border-bottom: 1px solid #5A96D6;
}
